html
  head
    title Pizza Store - VM1
  body
    h1 Pizza Store - VM1
    p Welcome to our basic pizza store, now powered by Azure Cosmos DB!
    
    table
      tr
        th Name
        th Cost
      each pizza in pizzas
        tr
          td #{pizza.description}
          td #{pizza.cost}
